@charset "UTF-8";

body{
    background-color: rgb(233, 233, 233);
    font-family: sans-serif;
    /* margin: auto ;
    padding: 0;
    width: 100%; */
    
}

hr{
    height: 2px;
    background-color: darkgray;
}

main{
    /* width: 300px; */
    max-width: 1000px;
    margin: auto;
    padding: 0 10px;
    justify-content: center;
    align-items: center;
    
}

#menu{
    /* width: 250px; */
    display: flex;
    justify-content: space-between;
    padding-inline-start: 0;
}
.categorias{
    padding: 5px;
    width: 25%;
    list-style-type: none;
    background-color: cadetblue;
    color: white;
    font-weight: 600;
    border-radius: 30px;    
    text-align: center;  
}

/* .categorias:hover{
    background-color: rgb(197, 75, 102);
} */

#grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* width: 250px; */
    padding: 20px;
    margin: auto;
    padding: 0;

}

.itens{
    list-style-type: none;
    width: 250px;
    background-color: white;
    padding: 10px;
    margin: 10px 5px;
    border-radius: 10px;
}

.itens:hover{
    background-color: gray;
    color: white;
}
.itens>p{
    font-size: 12px;
}

.itens>img{
    width: 100%;
    height: 150px;
    border-radius: 10px;
}

.itens>button{
    width: 100%;
    line-height: 30px;
    background-color: cadetblue;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
}

main>div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.itens>button:hover{
    background-color: rgb(197, 75, 102);
    font-size: 18px;
}

@media screen and (min-width: 550px) {
    #grid{
        justify-content: space-around;
    }

    .itens{
        width: 220px;
    }
}

@media screen and (min-width: 730px) {
    

    .itens{
        width: 250px;
    }
}

@media screen and (min-width: 900px) {
    
    #menu{
        width: 400px;
    }

   
}